### 과제 : 
### DecisionTree Classifier 모델로  auto-mpg의
### 제조국 분류 모델 만들기

##### 보고형식 : Tree 이미지, 하이퍼 파라미터 튜닝 내역,
##### 검증값, 테스트값, 비교 그래프( 튜닝 전*, 튜닝 후*)

In [8]:
## Tree model은 정규화 하지 말자~

import pandas as pd
mpg=pd.read_csv('auto-mpg.csv')

In [9]:
mpg

     18.0  8  307.0  130.0   3504.  12.0  70  1 chevrolet chevelle malibu
0    15.0  8  350.0  165.0  3693.0  11.5  70  1         buick skylark 320
1    18.0  8  318.0  150.0  3436.0  11.0  70  1        plymouth satellite
2    16.0  8  304.0  150.0  3433.0  12.0  70  1             amc rebel sst
3    17.0  8  302.0  140.0  3449.0  10.5  70  1               ford torino
4    15.0  8  429.0  198.0  4341.0  10.0  70  1          ford galaxie 500
..    ... ..    ...    ...     ...   ...  .. ..                       ...
392  27.0  4  140.0  86.00  2790.0  15.6  82  1           ford mustang gl
393  44.0  4   97.0  52.00  2130.0  24.6  82  2                 vw pickup
394  32.0  4  135.0  84.00  2295.0  11.6  82  1             dodge rampage
395  28.0  4  120.0  79.00  2625.0  18.6  82  1               ford ranger
396  31.0  4  119.0  82.00  2720.0  19.4  82  1                chevy s-10

[397 rows x 9 columns]

In [10]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   18.0                       397 non-null    float64
 1   8                          397 non-null    int64
 2   307.0                      397 non-null    float64
 3   130.0                      397 non-null    object
 4   3504.                      397 non-null    float64
 5   12.0                       397 non-null    float64
 6   70                         397 non-null    int64
 7   1                          397 non-null    int64
 8   chevrolet chevelle malibu  397 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.0+ KB

In [11]:
mpg.describe()

,18.0,8,307.0,3504.,12.0,70,1
count,397.000000,397.000000,397.000000,397.000000,397.000000,397.000000,397.000000
mean,23.528463,5.448363,193.139798,2969.080605,15.577078,76.025189,1.574307
std,7.820926,1.698329,104.244898,847.485218,2.755326,3.689922,0.802549
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.000000,2223.000000,13.900000,73.000000,1.000000
50%,23.000000,4.000000,146.000000,2800.000000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3609.000000,17.200000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [12]:
mpg.columns = ['연비','실린더 수','배기량','출력','차중',
              '가속능력','출시년도','제조국','모델명']

In [18]:
mpg

       연비  실린더 수    배기량     출력      차중  가속능력  출시년도  제조국                 모델명
0    15.0      8  350.0  165.0  3693.0  11.5    70    1   buick skylark 320
1    18.0      8  318.0  150.0  3436.0  11.0    70    1  plymouth satellite
2    16.0      8  304.0  150.0  3433.0  12.0    70    1       amc rebel sst
3    17.0      8  302.0  140.0  3449.0  10.5    70    1         ford torino
4    15.0      8  429.0  198.0  4341.0  10.0    70    1    ford galaxie 500
..    ...    ...    ...    ...     ...   ...   ...  ...                 ...
392  27.0      4  140.0  86.00  2790.0  15.6    82    1     ford mustang gl
393  44.0      4   97.0  52.00  2130.0  24.6    82    2           vw pickup
394  32.0      4  135.0  84.00  2295.0  11.6    82    1       dodge rampage
395  28.0      4  120.0  79.00  2625.0  18.6    82    1         ford ranger
396  31.0      4  119.0  82.00  2720.0  19.4    82    1          chevy s-10

[397 rows x 9 columns]

In [13]:
# 제조국은 1,2,3 의 범주형 데이터로 구성

import pandas as pd
pd.unique(mpg["제조국"])

array([1, 3, 2], dtype=int64)

In [16]:
data_columns=mpg[['연비','실린더 수','배기량','출력','차중',
              '가속능력','출시년도','제조국','모델명']].to_numpy
target=mpg['제조국'].to_numpy

In [17]:


# One-Hot Encoding for the '모델명' column
import numpy as np
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse=False)
car_name_encoded = encoder.fit_transform(mpg[['모델명']])

# Combine the numerical data with the encoded '모델명'
numerical_data = mpg[['연비', '실린더수', '배기량', '출력', '차중', '가속능력', '출시년도', '제조국']]
data_combined = np.hstack((numerical_data, car_name_encoded))

# Target array
target = mpg['제조국'].to_numpy()

c:\Users\ws317\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

KeyError: "['실린더수'] not in index"

In [ ]:
# Test_split

from sklearn.model_selection import train_test_split



train_input, test_input, train_target, test_target = train_test_split(
    data, target, test_size=0.2, random_state=42)

TypeError: Singleton array array(<bound method DataFrame.to_numpy of        연비  실린더 수    배기량     출력      차중  가속능력  출시년도  제조국                 모델명
0    15.0      8  350.0  165.0  3693.0  11.5    70    1   buick skylark 320
1    18.0      8  318.0  150.0  3436.0  11.0    70    1  plymouth satellite
2    16.0      8  304.0  150.0  3433.0  12.0    70    1       amc rebel sst
3    17.0      8  302.0  140.0  3449.0  10.5    70    1         ford torino
4    15.0      8  429.0  198.0  4341.0  10.0    70    1    ford galaxie 500
..    ...    ...    ...    ...     ...   ...   ...  ...                 ...
392  27.0      4  140.0  86.00  2790.0  15.6    82    1     ford mustang gl
393  44.0      4   97.0  52.00  2130.0  24.6    82    2           vw pickup
394  32.0      4  135.0  84.00  2295.0  11.6    82    1       dodge rampage
395  28.0      4  120.0  79.00  2625.0  18.6    82    1         ford ranger
396  31.0      4  119.0  82.00  2720.0  19.4    82    1          chevy s-10

[397 rows x 9 columns]>, dtype=object) cannot be considered a valid collection.